<div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg mt-8 p-6">

  <!-- Title -->
  <h1 class="text-3xl flex justify-center font-bold mb-2">
    <%= artical.title %>
  </h1>
  <a href="/profile" class="flex  gap-2">
  <img src="<%= profile %>" alt="profile_image" class="rounded-lg mb-6 h-10 w-10">
  <h1 class="text-2xl font-bold "><%= username %></h1>
</a>

  <p class="text-gray-500 text-sm mb-4">By <span class="font-semibold">
   
      <% if(artical.username) { %>
        <%= artical.username.username%>
          <% } %>

    </span> |
    <%= new Date(artical.publish_date).toLocaleDateString("en-US", { year: "numeric" , day: "numeric" , month: "long" })
      %>
  </p>

  <!-- Featured Image -->
  <img src="<%= artical.featured_image  %>" alt="Cybersecurity Shield" class=" rounded-lg mb-6 w-full h-15%">

  <!-- Blog Content -->
  <div class="prose max-w-none mb-6">
    <%= artical.content %>
  </div>

  <!-- Like & Share -->
  <form action="/blog/blog-contant/like/<%= artical._id%>" method="post"
    class="flex items-center justify-between border-t border-b py-3 mb-6">
    <button type="submit" class="flex items-center gap-2  text-blue-600 hover:text-blue-800">
     <% if (currentUser && artical.like.includes(currentUser._id)) { %>
      <span id="heart">❤️</span> Unlike
    <% } else { %>
      <span id="heart">🤍</span> Like
    <% } %>


    </button>
    <div class="flex gap-3">
      <a onclick="openPopup()" href="#" class="text-blue-500 hover:text-blue-700">🔗 Share</a>
    </div>
  </form>



</div>
<%- include("../partial/comments.ejs")%>