<!-- Comments Section -->
<div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg mt-8 p-6">
  <h2 class="text-xl font-semibold mb-4">Comments</h2>

  <!-- Comment Form -->
  <!-- <form class="mb-6" action="/blog/blog-contant/submit-comment" method="post"> -->
  <form id="comments"  action="/blog/blog-contant/submit-comment"
  method="POST" class="mb-6">
    <input id="id" class="hidden" type="text" name="articalId"  value="<%= artical._id%>">
    <textarea id="text" name="text" autocomplete="off" placeholder="Write your comment..."
      class="w-full border border-gray-300 rounded-lg p-3 mb-3"></textarea>
    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-800">Post Comment</button>
  </form>

  <hr class="border-t-2 border-gray-900 mt-12">
  <!-- Example Comments -->

  <% if (comments  && comments.length) {%>
    <% comments.forEach(comment=> { %>
      <div class="w-full  shadow-lg rounded-lg mt-3">
        <div class="pt-6 px-6 flex items-center justify-between">
          <div class="flex gap-3 items-center">
            <img class="w-10 rounded-xl" src="<%= comment.comment_image%>" alt="comment_image">
          <p>
            <%= comment.username%>
          </p>
          </div>
        <form action="/blog/blog-contant/delete-comment/<%= comment._id %>" method="post">
        <button type="submit">
             <img  class="w-10 cursor-pointer"  src="/assets/icons/xmark-solid-full.svg" alt="xmark" >
        </button>
        </form>
        
         
        </div>
        <p class="p-6">
          <%= comment.Comment%>
        </p>
      </div>
      <% }); %>
        <% } %>
</div>